<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая информация</title>
    <link rel="stylesheet" href="./../../../css/pages/addNew.css">

</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <ul class="main__breadcrumbs breadcrumbs__list">
                    <li class="main__breadcrumbs_item breadcrumbs__item"><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>
                    <li class="main__breadcrumbs_item breadcrumbs__item"><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator/new">новая информация </a></li>
                </ul>
                <div class="main__success success__wrapper" th:if="${success}">
                    <p class="main__success-text success__text">Данные успешно добавлены</p>
                </div>
                <form class="main__form" action="#" th:action="@{/moderator/new}" method="post">
                    <label for="termName">Название нового термина*</label>
                    <input class="form__input" id="termName" type="text" th:value="${term.name}" name="termName" th:field="*{term.name}" />
                    <p th:if="${#fields.hasErrors('term.name')}" th:errors="*{term.name}">Name Error</p>

                    <label for="termDescription">Описание термина*</label>
                    <textarea class="form__input" id="termDescription" type="text" th:value="${term.description}" name="termDescription" th:field="*{term.description}"></textarea>
                    <p th:if="${#fields.hasErrors('term.description')}" th:errors="*{term.description}">Name Error</p>

                    <label for="termFirstDate">Дата первого употребления</label>
                    <input class="form__input" id="termFirstDate" type="text" th:value="${term.first_date}" name="termFirstDate" th:field="*{term.first_date}"/>
                    <label for="termNewestDate">Дата последнего чего???</label>
                    <input class="form__input" id="termNewestDate" type="text" th:value="${term.newest_date}" name="termNewestDate"th:field="*{term.newest_date}"/>

                    <label for="termInformationSource">Откуда информация?*</label>
                    <input class="form__input" id="termInformationSource" type="text" th:value="${term.information_source}" name="termInformationSource" th:field="*{term.information_source}"/>
                    <p th:if="${#fields.hasErrors('term.information_source')}" th:errors="*{term.information_source}">Name Error</p>

                    <label for="authorFullname">ФИО причастного автора*</label>
                    <select id="authorFullname" name="authorID">
                        <option selected value=0>Выберите автора</option>
                        <option th:each="author :${authors}" th:text="${author.fullname}" th:field="${author.fullname}" th:value="${author.id_author}"></option>
                    </select>
                    <a href="/moderator/new/author">Нужного автора нет в списке - внести</a>
                    <p th:if="${undefined}">Выберите одного автора</p>

                    <label for="at">Вклад автора*</label>
                    <textarea class="form__input" id="at" type="text" value="authorTermAuthorVklad" name="authorVklad" th:field="*{authorTerm.author_vklad}"></textarea>
                    <p th:if="${#fields.hasErrors('authorTerm.author_vklad')}" th:errors="*{authorTerm.author_vklad}">Name Error</p>

                    <label for="af">ФИО причастного автора*</label>
                    <select id="af" name="authorID">
                        <option selected value=0>Выберите автора</option>
                        <option th:each="author :${authors}" th:text="${author.fullname}" th:field="${author.fullname}" th:value="${author.id_author}"></option>
                    </select>
                    <a href="/moderator/new/author">Нужного автора нет в списке - внести</a>
                    <p th:if="${undefined}">Выберите одного автора</p>

                    <label for="authorTermAuthorVklad">Вклад автора*</label>
                    <textarea class="form__input" id="authorTermAuthorVklad" type="text" value="authorTermAuthorVklad" name="authorVklad" th:field="*{authorTerm.author_vklad}"></textarea>
                    <p th:if="${#fields.hasErrors('authorTerm.author_vklad')}" th:errors="*{authorTerm.author_vklad}">Name Error</p>

                    <button class="btn form__btn" type="submit">Добавить</button>
                </form>
            </div>

        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script src="./../../js/clearForm.js"></script>
</body>
</html>