<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>новый автор термина</title>
</head>
<body>
<form class="main__form authorterm-form none" action="#" th:action="@{/moderator}" th:object="${authorTerm}" method="post">
    <input type="text" placeholder="ID термина" th:field="*{id_term}">
    <input type="text" placeholder="ID автора" th:field="*{id_author}">
    <textarea type="text" placeholder="вклад автора в термин" th:field="*{author_vklad}" />
    <button class="btn" type="submit" name="authorTerm">Добавить</button>
</form>
</body>
</html>