<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>новый автор термина</title>
    <link rel="stylesheet" href="./../../../css/pages/addNew.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo-link" href="/moderator">
                    <img src="./../../../images/logodark.png" alt="">
                </a>
                <nav class="header__navigation">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__nav-link" href="/moderator/new/term">новый термин</a></li>
                        <li class="header__list-item"><a class="header__nav-link" href="/moderator/new/author">новый автор</a></li>
                        <li class="header__list-item"><a class="header__nav-link" href="/moderator/new/authorterm">вклад автора</a></li>
                    </ul>
                </nav>
                <form th:action="@{/logout}" method="post">
                    <button class="header__btn_logout" type="submit">
                        выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <form class="main__form authorterm-form " action="#" th:action="@{/moderator/new/authorterm}" th:object="${authorTerm}" method="post">
                    <input class="form__input"  type="text" placeholder="ID термина" th:field="*{id_term}">
                    <p th:if="${#fields.hasErrors('id_term')}" th:errors="*{id_term}">Name Error</p>
                    <input class="form__input"  type="text" placeholder="ID автора" th:field="*{id_author}">
                    <p th:if="${#fields.hasErrors('id_author')}" th:errors="*{id_author}">Name Error</p>
                    <textarea class="form__input"  type="text" placeholder="вклад автора в термин" th:field="*{author_vklad}" />
                    <p th:if="${#fields.hasErrors('author_vklad')}" th:errors="*{author_vklad}">Name Error</p>
                    <button class="btn" type="submit" name="authorTerm">Добавить</button>
                </form>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__iner">
                copyright &#9400; kozlov 2022
            </div>
        </div>
    </footer>
</div>

</body>
</html>