<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>новый термин</title>
    <link rel="stylesheet" href="./../../../css/pages/addNew.css">

</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo-link" href="/moderator">
                    <img src="./../../../images/logolight.png" alt="">
                </a>
                <nav class="header__navigation">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new/term">новый термин</a></li>
                        <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new/author">новый автор</a></li>
                        <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new/authorterm">вклад автора</a></li>
                    </ul>
                </nav>
                <form th:action="@{/logout}" method="post">
                    <button class="header__btn_logout btn" type="submit">
                        выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <form class="main__form term-form" action="#" th:action="@{/moderator/new/term}" th:object="${term}" method="post">
                    <input class="form__input" type="text" placeholder="именование" th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}" class=""  th:errors="*{name}">Name Error</p>
                    <textarea class="form__input"  type="text" placeholder="описание " th:field="*{description}" />
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
                    <input class="form__input"  type="text" placeholder="дата первого употребления" th:field="*{first_date}">
                    <input class="form__input"  type="text" placeholder="дата последнего обновление" th:field="*{newest_date}">
                    <input class="form__input"  type="text" placeholder="источник информации" th:field="*{information_source}">
                    <p th:if="${#fields.hasErrors('information_source')}" th:errors="*{information_source}">Name Error</p>
                    <button class="btn form__btn" type="submit">Добавить</button>
                </form>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__iner">
                copyright &#9400; kozlov 2022
            </div>
        </div>
    </footer>


</div>

</body>
</html>