<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновить автора</title>
  <link rel="stylesheet" href="./../../../css/pages/addNew.css">

</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="container">
      <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="main__inner">
        <ul class="main__breadcrumbs breadcrumbs__list">
          <li class="main__breadcrumbs_item breadcrumbs__item"><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>
          <li class="main__breadcrumbs_item breadcrumbs__item"><a class="main__breadcrumbs_link breadcrumbs__link" th:href="@{/moderator/edit/author/{id}(id=${author.id_author})}" >редактирование автора </a></li>
        </ul>
        <div class="main__success success__wrapper" th:if="${success}">
          <p class="main__success-text success__text">Данные успешно обновлены</p>
        </div>
        <form class="main__form term-form" action="#" th:action="@{/moderator/update/author/{id}(id=${author.id_author})}" th:object="${author}" method="post">
          <label for="fullname">ФИО нового автора*</label>
          <input class="form__input" id="fullname" type="text" th:field="*{fullname}">
          <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Name Error</p>

          <label for="birthDate">Дата рождения</label>
          <input class="form__input" id="birthDate" type="text" th:field="*{birth_date}">
          <label for="bornCountry">В какой стране родился</label>
          <input class="form__input" id="bornCountry" type="text" th:field="*{born_country}">
          <label for="bornCity">В каком городе родился</label>
          <input class="form__input" id="bornCity" type="text" th:field="*{born_city}">
          <label for="nationality">Национальность</label>
          <input class="form__input" id="nationality" type="text" th:field="*{nationality}">
          <label for="img">Ссылка на картинку</label>
          <input class="form__input" id="img" type="text" th:field="*{img}">
          <label for="mainActivity">Основной вид деятельности</label>
          <textarea class="form__input" id="mainActivity" type="text" th:field="*{main_activity}"></textarea>

          <button class="btn form__btn" type="submit">Обновить</button>
        </form>
      </div>

    </div>
  </main>
  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>