@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);
@import url(./../blocks/moderatorForm.css);
@import url(./../blocks/success.css);
@import url(./../blocks/moderatorHeader-media.css);

.main__link-back{
    padding: .3em;
    color: #000;
    display: inline-block;
    margin-top: 1em;
    background-color: #eee;
}
.main__link-back:hover{
    background-color: #ddd;
}
