@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);

.main__wrapper{
    padding-top: 1em;
}

.main__row{
    display: flex;
    justify-content: space-between;
}

.main__img{
    width: 200px;
    height: 200px;
}