@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);

.main__content{
    margin-top: 1em;
}

.main__row{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

}

.main__col{
    justify-self: center;
    width: 100%;
}

.main__col + .main__col{
    margin-left: 1.5em;
}

.main__content form{
    display: flex;
    justify-content: space-around;
}

.main__info{
    border: 2px dashed #613DC1;
    border-radius: 8px;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.main__info h3{
    text-align: center;
    margin-top: .5em;
}
.main__info img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin: .7em 0;
    align-self: center;
}
.main__info p + p{
    margin-top: .3em;
}
.main__main{
    text-transform: capitalize;
    text-align: justify;
}
.main__term + .main__term{
    margin-left: .3em;
}

.main__year{
    font-weight: bold;
    color: #858AE3;
    border-bottom: 1px dashed #858AE3;
}

@media(max-width:820px){
    .main__content form{
        flex-direction: column;
    }
    .main__content form button{
        margin: 1em 0;
    }
}
@media(max-width:650px){
    .main__row{
        flex-direction: column;
    }
    .main__col{
        width: unset;
    }
    .main__col + .main__col{
        margin-left: 0;
        margin-top: 1em;
    }
}