@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);
@import url(./../blocks/moderatorHeader-media.css);
@import url(./../blocks/moderatorForm.css);
@import url(./../blocks/success.css);


.main__inner{
    padding-top: 55px;
}

.main__wrapper{
    margin-top: 1em;
}

.main__form{
    margin: 1em 0;
}