@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);
@import url(./../blocks/moderatorHeader-media.css);

.main__form{
    margin-top: 1em;
}

.main__inner{
    padding-left: .5em;
    padding-right: .5em;
}

label:hover{
    cursor: pointer;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

td, th {
  border: 1px solid #343434;
  text-align: left;
  padding: 8px;
}

.delete-cell a{
    color: #000;
    font-weight: 700;
}
.delete-cell a:hover{
    color: red;
}

tr:hover{
    cursor: pointer;
    background-color: #ccc;
}