@import url(./../general/normalize.css);
@import url(./../general/reset.css);

@import url(./../general/global.css);

/* ============================================= Styles ============================================= */
@import url(./../blocks/header.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/breadcrumbs.css);

.row + .row{
    margin-top: .5em;
}
.main__descr{
    text-align: justify;
}
.main__descr::first-letter{
    text-transform: uppercase;
}