form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    font-size: 24px;
    color: black;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea{
    resize: none;
    height: 6em;
}

form p{
    padding: 5px 7px;
    background: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: lowercase;
    transform: translateX(5em);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.appearance{
    opacity: 1;
    transform: translateX(0);
}