.search__wrapper{
    background-color: #fff;
    font-size: 18px;
    padding: 1.5em;
    border-radius: 4px;
    margin-bottom: .5em;
}

.search__form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__form-input{
    flex-basis: 85%;
    border: none;
    outline: none;
}

.search__form-clear{
    cursor: pointer;
    color: (0,0,0,.7);
}

.search__form-btn{
    padding: .5em;
    letter-spacing: .1em;
    border-radius: 4px;
    border: none;
    background-color: #eb3333;
    color: #fff;
    font-size: 1em;
    transition: background-color .3s linear;
    font-weight: bold;
}

.search__form-btn:hover{
    background-color: #a42626;
}