<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Модератор</title>
    <link rel="stylesheet" href="./../../css/pages/addNew.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="" href="/moderator">
                    <img src="./../../../images/logolight.png" alt="">
                </a>
                <nav class="header__navigation">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__list-link header__link" href="/moderator">на главную</a></li>
                    </ul>
                </nav>
                <form th:action="@{/logout}" method="post">
                    <button class="header__btn_logout btn" type="submit">
                        выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__wrapper">
                    <div class="row">
                        <h1 class="main__title" th:text="${author.fullname}"></h1>
                    </div>
                    <div class="row">
                        <p th:text="${author.getImg()}"></p>
                    </div>
                    <div class="row">
                        <p>Дата рождения: <span th:text="${author.getBirthday_date()}"></span></p>
                    </div>
                    <div class="row">
                        <p>Основная деятельность: <span th:text="${author.getMain_activity()}"></span> </p>
                    </div>
                    <div class="row">
                        последнее радактирование этой страницы: ДАТА, РЕДАКТОР.
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>

</body>
</html>