<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${author.fullname}"></title>
    <link rel="stylesheet" href="./../../css/pages/authorPage.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container" th:if="${moderator}">
            <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
        </div>
        <div class="container" th:if="${!moderator}">
            <div th:replace="~{fragments/header :: header}"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__wrapper">
                    <div class="main__row">
                        <div class="main__col">
                            <div class="main__img-wrapper">
                                <img class="main__img" th:src="${author.img}" alt="photo" th:title="${author.fullname}">
                            </div>
                        </div>
                        <div class="main__col">
                            <h1 class="main__title" th:text="${author.fullname}"></h1>
                            <p>Дата рождения: <span th:text="${author.getBirth_date()}"></span></p>
                            <p>Место рождения: <span th:text="${author.getBorn_country()}"></span>, <span th:text="${author.getBorn_city()}"></span></p>
                            <p>Национальность: <span th:text="${author.getNationality()}"></span></p>
                        </div>
                    </div>
                    <div class="main__row">
                        <p>Основная деятельность: <span th:text="${author.getMain_activity()}"></span> </p>
                    </div>
                    <div class="main__row">
                        <p>Участие в терминах: </p>
                    </div>
                    <div class="main__row">
                        <p>Подтвержденная информация: </p>
                    </div>
                    <div class="main__row">
                        <p>последнее радактирование этой страницы: <span th:text="${author.getUpdateTimestamp()}"></span>, РЕДАКТОР.</p>
                    </div>
                </div>
                <div th:if="${moderator}">
                    <a class="main__list-link" th:href="@{/moderator/edit/author/{id}(id=${author.getId_author()})}" >редактировать</a>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>