<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${term.name}"></title>
    <link rel="stylesheet" href="./../../css/pages/showPage.css">
    <link th:if="${moderator}" rel="stylesheet" href="./../../css/blocks/moderatorHeader-media.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container" th:if="${moderator}">
            <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
        </div>
        <div class="container" th:if="${!moderator}">
            <div th:replace="~{fragments/header :: header}"></div>
        </div>
    </div>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__wrapper">
                    <div class="row">
                        <h1 class="main__title" th:text="${term.name}"></h1>
                    </div>
                    <div class="row">
                        <p class="main__descr" th:text="${term.description}"></p>
                    </div>
                    <div class="row">
                        <p>Первое употребление: <a th:if="${author}" th:text="${author.getFullname}" th:href="@{/author/{id}(id=${author.getId_author()})}"></a> <span class="main__date"  th:text="${term.first_date}"></span><span th:if="${authorTerm}" th:text="${authorTerm.author_vklad}"></span></p>
                    </div>
                    <div class="row">
                        <p> Причастные: </p>
                    </div>
                    <div class="row">
                        Исчточник(ки): <a href="#" th:text="${term.information_source}"></a>
                    </div>
                    <div class="row">
                        последнее радактирование этой страницы: <span th:text="${term.updateTimestamp}"></span> , РЕДАКТОР.
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script th:src="@{/js/burger.js}"></script>
</body>
</html>