<html xmlns:th="http://www.thymeleaf.org">
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="" href="/moderator">
                <img src="./../../../images/logolight.png" alt="">
            </a>
            <nav class="header__navigation">
                <ul class="header__list">
                    <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new">Добавить информацию</a></li>
                    <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new/author">Новый автор</a></li>
                    <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/compare">Сравнить авторов</a></li>
                </ul>
            </nav>
            <form th:action="@{/logout}" method="post">
                <button class="header__btn_logout btn" type="submit">
                    выйти
                </button>
            </form>
        </div>
    </div>
</header>