<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../css/pages/compareAuthors.css">
    <title>Сравнение авторов</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <ul class="main__breadcrumbs breadcrumbs__list">
                    <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>
                    <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator/compare">сопоставление </a></li>
                </ul>
                <div class="main__content">
                    <form action="#" th:action="@{/moderator/compare}" method="GET">
                        <select id="leftAuthor" name="leftAuthorId">
                            <option selected value=0>Выберите автора</option>
                            <option th:each="author :${authors}" th:text="${author.fullname}" th:value="${author.id_author}"></option>
                        </select>
                        <button class="btn" type="submit">сопоставить</button>
                        <select id="asdad" name="rightAuthorId">
                            <option selected value=0>Выберите автора</option>
                            <option th:each="author :${authors}" th:text="${author.fullname}" th:value="${author.id_author}"></option>
                        </select>
                    </form>
                    <div class="main__row">
                        <div class="main__col">
                            <div class="main__info" th:if="${leftAuthor}">
                                <p th:text="${leftAuthor.fullname}"></p>
                                <img th:src="${leftAuthor.img}" />
                                <p th:text="${leftAuthor.born_country}"></p>
                                <p th:text="${leftAuthor.born_city}"></p>
                                <p th:text="${leftAuthor.nationality}"></p>
                                <p th:text="${leftAuthor.main_activity}"></p>
                            </div>
                        </div>
                        <div class="main__col">
                            <div class="main__info" th:if="${rightAuthor}">
                                <p th:text="${rightAuthor.fullname}"></p>
                                <img th:href="${rightAuthor.img}" />
                                <p th:text="${rightAuthor.born_country}"></p>
                                <p th:text="${rightAuthor.born_city}"></p>
                                <p th:text="${rightAuthor.nationality}"></p>
                                <p th:text="${rightAuthor.main_activity}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>