<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>МэобИ</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/">
                        <img src="./images/logolight.png" alt="logo">
                    </a>
                    <nav class="header__navigation">
                        <ul class="header__list">
                            <li class="header__list-item"><a class="header__list-link header__link" href="/search/extended">Расширенный поиск</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="header__login header__link" th:href="@{/moderator}">модераторам</a>
                </div>

            </div>
        </header>
        <main class="main">
            <section class="top">
                <div class="container">
                    <div class="top__inner">
                        <div class="top__wrapper">
                            <h1 class="top__title">Какой термин вы ищите?</h1>
                            <div class="top__box search__wrapper">
                                <form class="top__form search__form" action="#" th:action="@{/search}" method="get" >
                                    <input class="top__input search__form-input" type="text" placeholder="Введите интересующий Вас термин..." name="name" th:value="${name}">
                                    <span class="top__clear search__form-clear none">&#x2715</span>
                                    <button class="top__btn search__form-btn" type="submit">Искать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div th:replace="fragments/footer.html :: footer"></div>
    </div>
    <script src="./js/header.js"></script>
    <script src="./js/input.js"></script>
</body>

</html>