<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Перечень</title>
    <link rel="stylesheet" href="./../../css/pages/lists.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container" th:if="${moderator}">
                <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
            </div>
            <div class="container" th:if="${!moderator}">
                <div th:replace="~{fragments/header :: header}"></div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="main__inner">
                    <ul class="main__breadcrumbs breadcrumbs__list">
                        <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>
                        <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator/lists">перечень </a></li>
                    </ul>
                    <form class="main__form" onchange="submit()">
                        <label for="term">Термины</label>
                        <input id="term" type="radio" name="params" value="terms">
                        <label for="author">Авторы</label>
                        <input id="author" type="radio" name="params" value="authors">
                    </form>
                    <div class="main__wrapper">
                      <table th:if="${terms}">
                          <tr>
                              <th>id</th>
                              <th>название</th>
                              <th>описание</th>
                              <th>first</th>
                              <th>newest</th>
                              <th>источник</th>
                              <th>дата создания</th>
                              <th>дата редактировния</th>
                          </tr>
                          <tr th:each="term : ${terms}">
                              <td th:text="${term.id_term}"></td>
                              <td th:text="${term.name}"></td>
                              <td th:text="${term.description}"></td>
                              <td th:text="${term.first_date}"></td>
                              <td th:text="${term.newest_date}"></td>
                              <td th:text="${term.information_source}"></td>
                              <td th:text="${term.createTimestamp}"></td>
                              <td th:text="${term.updateTimestamp}"></td>
                          </tr>
                      </table>
                        <table th:if="${authors}">
                            <tr>
                                <th>id</th>
                                <th>ФИО</th>
                                <th>Дата рождения</th>
                                <th>Страна</th>
                                <th>город</th>
                                <th>Национальность</th>
                                <th>ссылка на картинку</th>
                                <th>основной вид деятельности</th>
                                <th>дата создания</th>
                                <th>дата редактировния</th>
                            </tr>
                            <tr th:each="author : ${authors}">
                                <td th:text="${author.id_author}"></td>
                                <td th:text="${author.fullname}"></td>
                                <td th:text="${author.birth_date}"></td>
                                <td th:text="${author.born_country}"></td>
                                <td th:text="${author.born_city}"></td>
                                <td th:text="${author.nationality}"></td>
                                <td th:text="${author.img}"></td>
                                <td th:text="${author.main_activity}"></td>
                                <td th:text="${author.createTimestamp}"></td>
                                <td th:text="${author.updateTimestamp}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>