<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Модератор</title>
    <link rel="stylesheet" href="./css/moderator.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="" href="/moderator">
                    <img src="./../../../images/logolight.png" alt="">
                </a>
                <nav class="header__navigation">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__list-link header__link" href="/moderator/new">Добавить информацию</a></li>
                    </ul>
                </nav>
                <form th:action="@{/logout}" method="post">
                    <button class="header__btn_logout btn" type="submit">
                        выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <ul class="main__breadcrumbs breadcrumbs__list">
                    <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>

                </ul>
                <div class="main__form-wrapper search__wrapper">
                    <form class="main__form search__form" th:action="@{/moderator}" method="get">
                        <input class="main__form-checkbox" type="checkbox" id="terms" name="isTerm">
                        <label class="main__form-label" for="terms">Термины</label>
                        <input class="main__form-checkbox" type="checkbox" id="authors" name="isAuthor">
                        <label class="main__form-label" for="authors">Авторы</label><br>
                        <input class="main__form-input search__form-input" placeholder="Введите запрос..." name="name"><br>
                        <button class="main__form-btn search__form-btn" type="submit">искать</button>
                        <span class="main__form-clear search__form-clear none">очистить</span>
                    </form>
                </div>
                <div>
                    <h1>ранее внесенные термины</h1>
                    <ul class="main__list">
                        <li class="main__list-item" th:each="term : ${terms}">
                            <a th:href="@{/moderator/term/{id}(id=${term.getId_term()})}" th:text="${term.name}"></a>
                            <span>|</span>
                            <div class="main__list-controls">
                                <a class="main__list-link" th:href="@{/moderator/edit/{id}(id=${term.getId_term()})}" >редактировать</a>
                                <a class="main__list-link" th:href="@{/moderator/delete/term/{id}(id=${term.getId_term()})}" >удалить</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>ранее внесенные авторы</h1>
                    <ul>
                        <li class="main__list-item" th:each="author : ${authors}">
                            <a th:href="@{/moderator/author/{id}(id=${author.getId_author()})}" th:text="${author.fullname}"></a>
                            <span>|</span>
                            <div class="main__list-controls">
                                <a class="main__list-link" href="" >редактировать</a>
                                <a class="main__list-link" th:href="@{/moderator/delete/author/{id}(id=${author.getId_author()})}" >удалить</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>ранее внесенные вклады авторов</h1>
                    <ul>
                        <li th:each="authorTerm : ${authorTerms}"><a href="" th:text="${authorTerm.author_vklad}"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>
<script src="./js/input.js"></script>
</body>
</html>