<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Модератор</title>
    <link rel="stylesheet" href="./css/moderator.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div th:replace="~{fragments/moderatorHeader :: moderatorHeader}"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <ul class="main__breadcrumbs breadcrumbs__list">
                    <li class="main__breadcrumbs_item breadcrumbs__wrapper-item" ><a class="main__breadcrumbs_link breadcrumbs__link" href="/moderator">главная </a></li>
                </ul>
                <div class="main__form-wrapper search__wrapper">
                    <form class="main__form search__form" th:action="@{/moderator}" method="get">
                        <input class="main__form-checkbox" type="checkbox" id="terms" name="isTerm" checked>
                        <label class="main__form-label" for="terms">Термины</label>
                        <input class="main__form-checkbox" type="checkbox" id="authors" name="isAuthor" checked>
                        <label class="main__form-label" for="authors">Авторы</label><br>
                        <input class="main__form-input search__form-input" placeholder="Введите запрос..." name="name"><br>
                        <button class="main__form-btn search__form-btn" type="submit" disabled>искать</button>
                        <span class="main__form-clear search__form-clear none">очистить</span>
                    </form>
                </div>
<!--                <div class="recent" th:unless="${request}">-->
<!--                    <div class="recent__inner">-->
<!--                        <h2 class="recent__title">Последние изменения</h2>-->
<!--                        <div class="recent__wrapper">-->
<!--                            <a class="recent__box" href="">-->
<!--                                <div class="recent__item">-->
<!--                                    <h3 class="recent__name">name</h3>-->
<!--                                    <span class="recent__views">views</span>-->
<!--                                    <div>-->
<!--                                        <span class="recent__date">date</span>-->
<!--                                        <span class="recent__date">who</span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="recent__views">edit</span>-->
<!--                                        <span class="recent__views">delete</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="main__result-wrapper" th:if="${request}" >
                    <h2>Вот что нашлось</h2>
                    <p th:if="${empty}">По Вашему запросу "<span th:text="${empty}"></span>" ничего не найдено. Возможно, нашлись совпадения</p>
                    <p>Если Вы не нашли что искали - можете перейти <a href="/moderator/lists">на страницу со всей внесённой информацией</a></p>
                    <div class="main__result-content">
                        <div class="main__result-col terms" th:if="${termList}">
                            <h3 class="main__result-title">Термины</h3>
                            <ul class="main__list">
                                <li class="main__list-item" th:each="term : ${termList}">
                                    <a class="main__list-link" th:href="@{/moderator/term/{id}(id=${term.getId_term()})}" th:text="${term.name}"></a>
                                    <span>|</span>
                                    <div class="main__list-controls">
                                        <a class="main__list-link" th:href="@{/moderator/edit/term/{id}(id=${term.getId_term()})}" >редактировать</a>
                                        <a class="main__list-link" th:href="@{/moderator/delete/term/{id}(id=${term.getId_term()})}" >удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main__result-col authors" th:if="${authorList}">
                            <h3 class="main__result-title">Авторы</h3>
                            <ul>
                                <li class="main__list-item" th:each="author : ${authorList}">
                                    <a class="main__list-link" th:href="@{/moderator/author/{id}(id=${author.getId_author()})}" th:text="${author.fullname}"></a>
                                    <span>|</span>
                                    <div class="main__list-controls">
                                        <a class="main__list-link" th:href="@{/moderator/edit/author/{id}(id=${author.getId_author()})}" >редактировать</a>
                                        <a class="main__list-link" th:href="@{/moderator/delete/author/{id}(id=${author.getId_author()})}" >удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script th:src="@{/js/header.js}"></script>
<script src="./js/input.js"></script>
<script src="./js/burger.js"></script>
</body>
</html>