<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../css/pages/search.css">
    <title>Поиск</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div th:replace="~{fragments/header :: header}"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <h1>Расширенный поиск</h1>
                <div class="main__form-wrapper search__wrapper">
                    <form class="main__form search__form" th:action="@{/search}" method="get">
                        <input class="main__form-checkbox" type="checkbox" id="terms" name="isTerm" checked>
                        <label class="main__form-label" for="terms">Термины</label>
                        <input class="main__form-checkbox" type="checkbox" id="authors" name="isAuthor" checked>
                        <label class="main__form-label" for="authors">Авторы</label><br>
                        <input class="main__form-input search__form-input" placeholder="Введите запрос..." name="name"><br>
                        <button class="main__form-btn search__form-btn" type="submit" disabled>искать</button>
                        <span class="main__form-clear search__form-clear none">очистить</span>
                    </form>
                </div>
                <p th:if="${empty}">По Вашему запросу "<span th:text="${empty}"></span>" ничего не найдено.</p>
                <div class="main__result-content">
                    <div class="main__result-col terms" th:if="${termList}">
                        <h3 class="main__result-title">Термины</h3>
                        <ul class="main__list">
                            <li class="main__list-item" th:each="term : ${termList}">
                                <a th:href="@{/term/{id}(id=${term.getId_term()})}" th:text="${term.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="main__result-col authors" th:if="${authorList}">
                        <h3 class="main__result-title">Авторы</h3>
                        <ul>
                            <li class="main__list-item" th:each="author : ${authorList}">
                                <a th:href="@{/author/{id}(id=${author.getId_author()})}" th:text="${author.fullname}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script src="./js/header.js"></script>
<script src="./js/input.js"></script>
</body>

</html>