<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../css/pages/search.css">
    <title>Поиск</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="/">
                    <img src="./../../images/logolight.png" alt="logo">
                </a>
                <nav class="header__navigation">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__list-link header__link" href="/">На главную</a>
                        </li>
                    </ul>
                </nav>
                <a class="header__login header__link" th:href="@{/moderator}">модераторам</a>
            </div>

        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <h1>Расширенный поиск</h1>
                <form>
                    <input class="main__input" placeholder="search такой-то">
                    <button>кнопочка</button>
                </form>
                <p th:if="${name}">По Вашему запросу "<span th:text="${name}"></span>" ничего не найдено.</p>
                <ul class="main__list">
                    <li class="main__list-item" th:each="term : ${termList}">
                        <a class="main__list-link" th:href="@{/search?name={name}(name=${term.getName()})}" th:text="${term.name}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>

<script src="./js/header.js"></script>
</body>

</html>